/*style.css*/

*{
	transition: all .2s ease;
}

@font-face{
	font-family: "nms font";
	src: url('../font/geonms-webfont.ttf');
}

body{
	font-family: "nms font", sans-serif !important;
	background-color: #3E544F;
}

header{
	text-align: center;
	background-image: url('../images/banner.png');
	background-size: cover;
	background-position: center;
	min-height: 200px;
	padding-top: 20px;
}

header h1{
	font-size: 60pt;
	color: #3E544F;
	text-shadow: 0 0 10px white;
}

#resources{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 30pt;
	text-align: center;
	max-width: 1200px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
}

.resource{
	height: 90px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

.resource h6{
	display: none;
	width: 200%;
	color: white;
	background: linear-gradient(to right, black, transparent);
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

.resource img:hover+h6{
	position: relative;
	display: block;
	z-index: 3;
}

.resource > img{
	margin: auto;
	width: auto;
	height: 100%;
}

.outline{
	margin: 0 4.15%;
	border: 14px solid transparent;
	border-image: url('../images/frontBorder.png') 20%;
}

#elementDisplay{
	position: fixed;
	top: 10%;
	left: 25%;
	right: 25%;
	width: 50%;
	padding: 20px;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

#elementDisplay > img{
	text-align: center;
	width: 80% !important;
	margin: 10%;
	height: auto !important;
	max-width: 200px;
}

#elementDisplay h1{
	border-bottom: 2px solid white;
}

@media only screen and (max-width: 992px){
	header h1{
		font-size: 40pt;
	}
	
	#elements2{
		clear: both;
		padding-top: 50px;
	}
}


@media only screen and (max-width: 480px){
	header h1{
		font-size: 30pt;
	}
	
	#elements2{
		padding-top: 20px;
	}
	
	.resource{
		height: 60px;
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 0;
	}
}